<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ config.title }}">
<meta property="og:description" content="{{ config.description }}">
<meta property="og:image" content="{{ get_url(path='og/overmesh-open-graph.png') }}">
<link rel="icon" type="image/png" href="{{ get_url(path='og/overmesh-icon.png') }}">
<link rel="stylesheet" href="{{ get_url(path='main.css') }}">
<link rel="stylesheet" href="{{ get_url(path='pagefind/pagefind-component-ui.css') }}">
<script src="{{ get_url(path='pagefind/pagefind-component-ui.js') }}" type="module"></script>
